.languageContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative; 
  cursor: pointer;
  margin-left: 10px;
  font-weight: normal;

  .languageButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.languageDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 28px; 
  right: 0px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  z-index: 10; 
}

.languageOption {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 10px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 10px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e3e3e3; 
  }

  span {
    font-family: Notica;
    font-size: 15px;
  }
}

.hidden {
  display: none;
}

@media (max-width: 580px) {
  .languageContainer {
    display: none; 
  }

  .showBelow580 {
    display: flex !important;
    width: 100%;
    justify-content: end;
    margin-right: 15px;
  }

  .hidden {
    display: none;
  }
}