.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  max-width: 800px;
  height: 62px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 4px 4px 0 0;
  margin-top: 10px;
  background-color: #f8f9fa;
}

.logo {
  display: flex;
  justify-content: start;
  flex: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  .iconLogo {
    width: 48px;
    height: 48px;
  }
}

.appName {
  font-size: 38px;
  margin-left: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 25px;

  .searchContainer {

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: auto; 
    min-width: 300px; 
    max-width: 400px; 

    .inputHeader {
      display: flex;
      width: 100%;
      height: 32px;
      border: none;
      border-radius: 16px 0 0 16px;
      padding-left: 15px;
      outline: none;
      box-shadow: rgba(50, 50, 93, 0.1) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;

      &:focus {
        border: 0.5px solid rgb(125, 125, 125);
      }

      &.showInput {
        display: block;
        opacity: 1;
      }
    }
  }

  .profileContainer {
    display: flex;
    position: relative;

    .profileButton {
      display: flex;
    }

    .profileDropDown.show {
      display: block;
    }
  }

  .iconButton {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;

    .iconImage {
      width: 24px;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media(max-width: 768px) {
  .header {
    min-width: 424.533px;
  }

  .icons {
    gap: 15px;
  }

  .searchContainer {
    min-width: 0px !important;
    max-width: 300px;
    width: auto !important;
  }
}

@media(max-width: 580px) {
  .inputHeader {
    display: none !important;
  }
}

@media(max-width: 480px) {
  .header {
    margin-top: 0;
  }
}

.languageContainer {
  display: none;
}

.showBelow580 {
  @media (max-width: 580px) {
    display: flex !important;
  }
}
