.container {
  display: flex;
  flex-direction: row;
  gap: 5px;

  div {
    display: flex;
    gap: 5px;
  }

  input {
    padding: 2px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: end;
    gap: 2px;

    div {
      display: flex;
      justify-content: end;
      gap: 5px;
    }
  }
}